@using PostOfficeApp.Models;
@model IDictionary<string,IEnumerable<Newspaper>>
@using PostOfficeApp.Authorization;
@{
    ViewData["Title"] = "Home Page";
    int i = 1;
    List<string> contentCon;
    contentCon = Model.Keys.ToList();
    contentCon.Sort(delegate (string a, string b) { return a.Length.CompareTo(b.Length); });
}
<div class="ui large borderless fixed menu" id="top-nav" style="max-height:80px">
    <a class="item" asp-area="" asp-controller="Home" asp-action="Index">主页</a>
    <div class="ui dropdown item">
        <span class="item">订阅报刊<i class="dropdown icon"></i></span>
        <div class="menu">
            <div class="header">种类</div>
            @Html.ActionLink("报纸", "Items", "Home", new { q = "", k = "NEWSPAPER" }, new { @class = "item" })
            @Html.ActionLink("杂志", "Items", "Home", new { q = "", k = "MAGZINE" }, new { @class = "item" })
            @Html.ActionLink("所有", "Items", "Home", new { q = "", k = "ALL" }, new { @class = "item" })
        </div>
    </div>
    <a class="item" asp-area="" asp-controller="Home" asp-action="About">关于</a>
    <a class="item" asp-area="" asp-controller="Home" asp-action="Contact">联系我们</a>
    <div class="right menu">
        <div class="ui fluid search item">
            <div class="ui icon input">
                <input class="prompt" placeholder="可按邮发代号、报纸名称搜索" name="search" type="text" />
                <i class="icon search"></i>
            </div>
        </div>
        <div class="item">@await Html.PartialAsync("_LoginPartial")</div>
    </div>
</div>
<h3 id="main-title">报刊杂志推荐</h3>

<div class="ui grid" id="content-box">
    <!--左侧导航栏-->
    <div class="four wide column">
        <div class="ui vertical attached fluid tabular menu">
            @for(i = 0;i<contentCon.Count();i++)
{
                <a class="item" data-tab="@i.ToString()">@contentCon[i]</a>
                i++;
            }
        </div>
    </div>

    <!--右侧卡片区-->
    <div class="twelve wide stretched column">
        @{ 
            for(int j=0;j<contentCon.Count();j++)
            {
                var label = contentCon[j];
                var templist = Model[label];
                <div class="ui attached tab segment" data-tab="@j.ToString()">
                    <!--卡片组部分-->
                    <div class="ui special cards">
                        @foreach (var news in templist)
{
                            <div class="card">
                                <!--遮罩层图片-->
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui inverted button">
                                                    <a asp-action="Create" asp-controller="Subscribe" asp-route-id="@news.Pno_number">现在订购</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="@news.Img_url" />
                                </div>
                                <div class="content">
                                    <div class="header">@news.Pna</div>
                                    <div class="meta">
                                        <span class="price">价格:@news.Ppr 元/年</span>
                                        <span class="publish">出版社:@news.Pdw</span>
                                    </div>
                                    <div class="description">@news.Ptype</div>
                                </div>
                                @if ((await AuthorizationService.AuthorizeAsync(User,news, CommonOperations.Update)).Succeeded){ 
                                    <div class="extra content">
                                        <a asp-action="Edit" asp-route-id="@news.Pno_number">编辑</a>
                                    </div>
                                }
                            </div>    
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic.min.js"></script>
<script src="~/lib/angular.js"></script>
<script src="~/js/topnav.js"></script>
<script>
    $('#content-box .tabular.menu .item:first').addClass('active').addClass('teal');
    $('#content-box .tab.segment:first').addClass('active');
    $('.ui.tab.segment').css('maxHeight', document.body.clientHeight);
    $('#content-box .tabular.menu .item').click(function () {
        let old = $('#content-box .tabular.menu .active.teal.item');
        if (!$(this).is(old)) {
            old.removeClass('teal');
            $(this).addClass('teal');
        }
    });
    $('.menu .item').tab();
    $('.special.cards .image').dimmer({ on: 'hover' });
</script>
<link type="text/css" rel="stylesheet" href="~/css/index.css" />
