@using PostOfficeApp.Controllers
@using PostOfficeApp.Authorization;
@model List<Newspaper>
@{
    ViewData["Title"] = "订阅列表";
    List<string> contentCon=new List<string>(), periodicCon=new List<string>();
    string allactive = "teal item", news = "teal item", magzineact = " teal item";
    if ((KIND)ViewData["kind"] == KIND.ALL)
    {
        allactive += " active";
        contentCon = new List<string> { "报纸","外语/英语/期刊","家庭/健康/养生","少儿/兴趣/阅读","建筑/艺术/设计",
                                        "摄影/摄像/平面","教育/教学/参考","文化/艺术/收藏","文学/文摘/经典",
                                        "时事 /时政/新闻","时尚/服饰/美妆","校园/学习/辅导","母婴/亲子/育儿",
                                        "汽车/男士/品质","烹饪/美食/厨房","科普/科技/军事","财经/商业/管理","音乐/影视/广告" };

        periodicCon = new List<string> { "日报", "周报", "周刊", "双周刊","旬刊","半月刊", "月刊", "双月刊", "季刊" };
    }
    else if ((KIND)ViewData["kind"] == KIND.NEWSPAPER)
    {
        news += " active";
        periodicCon = new List<string> { "日报", "周报", "双周报", "旬报" };
    }
    else if ((KIND)ViewData["kind"] == KIND.MAGZINE)
    {
        magzineact += " active";
        contentCon = new List<string> { "外语/英语/期刊","家庭/健康/养生","少儿/兴趣/阅读","建筑/艺术/设计",
                                        "摄影/摄像/平面","教育/教学/参考","文化/艺术/收藏","文学/文摘/经典",
                                        "时事 /时政/新闻","时尚/服饰/美妆","校园/学习/辅导","母婴/亲子/育儿",
                                        "汽车/男士/品质","烹饪/美食/厨房","科普/科技/军事","财经/商业/管理","音乐/影视/广告"};
        periodicCon = new List<string> { "周刊", "双周刊", "旬刊", "半月刊", "月刊", "双月刊", "季刊" };
    }
}
<div class="ui large borderless fixed menu" id="top-nav" style="max-height:80px">
    <a class="item" asp-area="" asp-controller="Home" asp-action="Index">主页</a>
    <div class="ui dropdown item">
        <span class="item">订阅报刊<i class="dropdown icon"></i></span>
        <div class="menu">
            <div class="header">种类</div>
            @Html.ActionLink("报纸", "Items", "Home", new { q="",k="NEWSPAPER" }, new { @class = news })
            @Html.ActionLink("杂志", "Items", "Home", new { q="",k = "MAGZINE" }, new { @class = magzineact })
            @Html.ActionLink("所有", "Items", "Home", new { q="",k = "ALL" }, new { @class = allactive })
        </div>
    </div>
    <a class="item" asp-area="" asp-controller="Home" asp-action="About">关于</a>
    <a class="item" asp-area="" asp-controller="Home" asp-action="Contact">联系我们</a>
    <div class="right menu">
        <div class="ui fluid search item">
            <div class="ui icon input">
                <input class="prompt" placeholder="可按邮发代号、报纸名称搜索" name="search" type="text" />
                <i class="icon search"></i>
            </div>
        </div>
        <div class="item">@await Html.PartialAsync("_LoginPartial")</div>
    </div>
</div>
<h3 id="main-title">商品列表</h3>
<div class="flexbox-container" ng-app="myApp">
    <!--条件筛选过滤框-->
    <div id="filter-bar" ng-controller="myFilter">
        <div id="tags">
            <div class="ui teal tag label" ng-repeat="tag in filtermap.content">
                {{tag}}<i class="delete icon" ng-click="deleteCondition($event,'content')"></i>
            </div>
            <div class="ui red tag label" ng-repeat="tag in filtermap.periodic">
                {{tag}}<i class="delete icon" ng-click="deleteCondition($event,'periodic')"></i>
            </div>
        </div>
        <div id="filter-menu" class="ui inverted fluid vertical menu">
            <div class="item header">条件筛选</div>
            @if (contentCon.Any()){
                <div class="ui sub header">按内容</div>
                <div class="condition-grp">
                    @foreach (var condition in contentCon)
                    {
                        <a ng-click="addCondition($event,'content')" class="condition">@condition</a>
                    }
                </div>
             }
            @if (periodicCon.Any())
            {
                <div class="ui sub header">按发刊周期</div>
                <div class="condition-grp">
                    @foreach (var condition in periodicCon)
                    {
                        <a ng-click="addCondition($event,'periodic')" class="condition">@condition</a>
                    }
                </div>
            }
        </div>
        <button type="button" class="ui red button" ng-click="clearTags()">清空条件</button>
        <a class="ui button" asp-action="Create">添加刊物 <i class="ui add square icon"></i></a>
    </div>
    <!--条目呈现区-->
    <div class="ui divided items" id="content-box">
        @foreach(var item in Model)
        {
            <div class="item @item.Labels @item.Ptype">
                <div class="image"><img src="@item.Img_url" /></div>
                <div class="content">
                    <h4 class="header">@item.Pna</h4>
                    <div class="meta">
                        <span class="publisher">@item.Pdw</span>
                    </div>
                    <div class="price">
                        全年定价：@item.Ppr 元
                    </div>
                    <div class="extra">
                        <div class="ui label">@item.Labels</div>
                        @if ((await AuthorizationService.AuthorizeAsync(User, item, CommonOperations.Update)).Succeeded)
                         {
                            <div class="extra content">
                                <span>销售量:@item.Total_sell_out 份订阅</span>
                                <a asp-action="Edit" asp-route-id="@item.Pno_number">编辑</a>
                            </div>
                         }
                        <div class="ui right floated green button">
                            <a style="text-decoration:none;color:white;" asp-controller="Subscribe" asp-route-id="@item.Pno_number" asp-action="Create">
                                现在订购
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic.min.js"></script>
<script src="~/lib/angular.js"></script>
<script src="~/js/topnav.js"></script>
<script src="~/js/items.js"></script>
<link type="text/css" rel="stylesheet" href="~/css/items.css" />
